.socials {
  max-width: 700px;
  margin: 0 auto;
  padding: 3rem 0;
}

.socials h1 {
  font-family: "Poppins", sans-serif;
  margin-bottom: 1.5rem;
}

.socials ul {
  list-style: none;
  padding-left: 0;
}

.socials li {
  font-family: "Karla", sans-serif;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.socials span {
  font-weight: bold;
  margin-right: 10px;
}

.socials a {
  text-decoration: none;
  color: black;
}

.socials a:hover {
  text-decoration: underline;
}
